In [1]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import json

In [3]:
with open('E:/Baiduyun Download/chuichan/17 Spring/Scala/finalProject/rawData/rawData.json') as json_data:
    d = json.load(json_data)

In [4]:
d.keys()

dict_keys(['gamedate', 'events', 'gameid'])

In [5]:
d["events"][0]["moments"][0]

[1,
 1445991110020,
 720.0,
 24.0,
 None,
 [[-1, -1, 47.25031, 26.14806, 6.76567],
  [1610612737, 2594, 45.70423, 15.5787, 0.0],
  [1610612737, 200794, 56.87016, 22.95879, 0.0],
  [1610612737, 201143, 47.26914, 24.47616, 0.0],
  [1610612737, 201952, 28.26728, 23.734, 0.0],
  [1610612737, 203145, 40.59368, 31.74141, 0.0],
  [1610612765, 101141, 56.27694, 25.5146, 0.0],
  [1610612765, 202704, 73.64107, 25.48774, 0.0],
  [1610612765, 202694, 48.64923, 35.26915, 0.0],
  [1610612765, 203484, 48.46352, 14.55436, 0.0],
  [1610612765, 203083, 47.51449, 24.36448, 0.0]]]

In [6]:
len(d["events"][3]["moments"])

128

In [7]:
len(d["events"])

472

In [9]:
d["gamedate"]

'2015-10-27'

In [10]:
d["gameid"]

'0021500001'

In [11]:
d["events"][0].keys()

dict_keys(['eventId', 'home', 'visitor', 'moments'])

In [12]:
d["events"][0]["home"]["players"]

[{'firstname': 'Kyle',
  'jersey': '26',
  'lastname': 'Korver',
  'playerid': 2594,
  'position': 'G'},
 {'firstname': 'Thabo',
  'jersey': '25',
  'lastname': 'Sefolosha',
  'playerid': 200757,
  'position': 'G-F'},
 {'firstname': 'Paul',
  'jersey': '4',
  'lastname': 'Millsap',
  'playerid': 200794,
  'position': 'F'},
 {'firstname': 'Al',
  'jersey': '15',
  'lastname': 'Horford',
  'playerid': 201143,
  'position': 'F-C'},
 {'firstname': 'Tiago',
  'jersey': '11',
  'lastname': 'Splitter',
  'playerid': 201168,
  'position': 'F-C'},
 {'firstname': 'Jeff',
  'jersey': '0',
  'lastname': 'Teague',
  'playerid': 201952,
  'position': 'G'},
 {'firstname': 'Shelvin',
  'jersey': '8',
  'lastname': 'Mack',
  'playerid': 202714,
  'position': 'G'},
 {'firstname': 'Mike',
  'jersey': '32',
  'lastname': 'Scott',
  'playerid': 203118,
  'position': 'F'},
 {'firstname': 'Kent',
  'jersey': '24',
  'lastname': 'Bazemore',
  'playerid': 203145,
  'position': 'G'},
 {'firstname': 'Justin',
  'jersey': '7',
  'lastname': 'Holiday',
  'playerid': 203200,
  'position': 'G'},
 {'firstname': 'Dennis',
  'jersey': '17',
  'lastname': 'Schroder',
  'playerid': 203471,
  'position': 'G'},
 {'firstname': 'Mike',
  'jersey': '31',
  'lastname': 'Muscala',
  'playerid': 203488,
  'position': 'F-C'},
 {'firstname': 'Lamar',
  'jersey': '13',
  'lastname': 'Patterson',
  'playerid': 203934,
  'position': 'G-F'}]

In [13]:
d["events"][100]["visitor"]["players"]

[{'firstname': 'Steve',
  'jersey': '22',
  'lastname': 'Blake',
  'playerid': 2581,
  'position': 'G'},
 {'firstname': 'Ersan',
  'jersey': '23',
  'lastname': 'Ilyasova',
  'playerid': 101141,
  'position': 'F'},
 {'firstname': 'Joel',
  'jersey': '50',
  'lastname': 'Anthony',
  'playerid': 201202,
  'position': 'C'},
 {'firstname': 'Jodie',
  'jersey': '20',
  'lastname': 'Meeks',
  'playerid': 201975,
  'position': 'G'},
 {'firstname': 'Marcus',
  'jersey': '13',
  'lastname': 'Morris',
  'playerid': 202694,
  'position': 'F'},
 {'firstname': 'Reggie',
  'jersey': '1',
  'lastname': 'Jackson',
  'playerid': 202704,
  'position': 'G'},
 {'firstname': 'Andre',
  'jersey': '0',
  'lastname': 'Drummond',
  'playerid': 203083,
  'position': 'C'},
 {'firstname': 'Aron',
  'jersey': '12',
  'lastname': 'Baynes',
  'playerid': 203382,
  'position': 'F-C'},
 {'firstname': 'Kentavious',
  'jersey': '5',
  'lastname': 'Caldwell-Pope',
  'playerid': 203484,
  'position': 'G'},
 {'firstname': 'Reggie',
  'jersey': '25',
  'lastname': 'Bullock',
  'playerid': 203493,
  'position': 'F'},
 {'firstname': 'Spencer',
  'jersey': '8',
  'lastname': 'Dinwiddie',
  'playerid': 203915,
  'position': 'G'},
 {'firstname': 'Stanley',
  'jersey': '3',
  'lastname': 'Johnson',
  'playerid': 1626169,
  'position': 'F'},
 {'firstname': 'Darrun',
  'jersey': '6',
  'lastname': 'Hilliard',
  'playerid': 1626199,
  'position': 'F'}]

In [14]:
d["events"][0]["eventId"]

'1'

In [13]:
import os
import glob

In [15]:
path =r'E:/Baiduyun Download/chuichan/17 Spring/Scala/finalProject/PistonsVSHawks' # use your path
allFiles = glob.glob(path + "/*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    df = df.loc[df['game_date'] == 20151027]
    list_.append(df)
combineData = pd.concat(list_)

In [16]:
combineData.index = range(0,len(combineData))

In [17]:
combineData.head()

,Unnamed: 0,action_type,event_type,game_date,game_event_id,game_id,grid_type,htm,loc_x,loc_y,...,shot_made_flag,shot_made_numeric,shot_type,shot_value,shot_zone_area,shot_zone_basic,shot_zone_range,team_id,team_name,vtm
0,1,Jump Shot,Missed Shot,20151027,8,21500001,Shot Chart Detail,ATL,-11.7,21.65,...,missed,0,2PT Field Goal,2,Left Side Center(LC),Mid-Range,16-24 ft.,1610612737,Atlanta Hawks,DET
1,2,Jump Shot,Missed Shot,20151027,28,21500001,Shot Chart Detail,ATL,-6.5,22.15,...,missed,0,2PT Field Goal,2,Left Side Center(LC),Mid-Range,16-24 ft.,1610612737,Atlanta Hawks,DET
2,3,Jump Shot,Missed Shot,20151027,34,21500001,Shot Chart Detail,ATL,-3.0,23.55,...,missed,0,2PT Field Goal,2,Center(C),Mid-Range,16-24 ft.,1610612737,Atlanta Hawks,DET
3,4,Jump Shot,Made Shot,20151027,132,21500001,Shot Chart Detail,ATL,-1.9,28.95,...,made,1,3PT Field Goal,3,Center(C),Above the Break 3,24+ ft.,1610612737,Atlanta Hawks,DET
4,5,Driving Hook Shot,Made Shot,20151027,144,21500001,Shot Chart Detail,ATL,0.2,9.85,...,made,1,2PT Field Goal,2,Center(C),In The Paint (Non-RA),Less Than 8 ft.,1610612737,Atlanta Hawks,DET

In [8]:
homePlayer_id = []
for m in range(len(d["events"][0]["home"]["players"])):
    homePlayer_id.append(d["events"][0]["home"]["players"][m]["playerid"])

In [9]:
visiterPlayer_id = []
for m in range(len(d["events"][0]["visitor"]["players"])):
    visiterPlayer_id.append(d["events"][0]["visitor"]["players"][m]["playerid"])

In [10]:
visiterPlayer_id

[2581,
 101141,
 201202,
 201975,
 202694,
 202704,
 203083,
 203382,
 203484,
 203493,
 203915,
 1626169,
 1626199]

In [11]:
homePlayer_id

[2594,
 200757,
 200794,
 201143,
 201168,
 201952,
 202714,
 203118,
 203145,
 203200,
 203471,
 203488,
 203934]

In [136]:
combineData.iloc[1]["player_id"] in homePlayer_id

True

In [19]:
combineData = combineData.drop(combineData.columns[[0]], axis=1)

In [23]:
combineData.head()

,action_type,event_type,game_date,game_event_id,game_id,grid_type,htm,loc_x,loc_y,minutes_remaining,...,shot_made_numeric,shot_type,shot_value,shot_zone_area,shot_zone_basic,shot_zone_range,team_id,team_name,vtm,homeTeam
0,Jump Shot,Missed Shot,20151027,8,21500001,Shot Chart Detail,ATL,-11.7,21.65,10,...,0,2PT Field Goal,2,Left Side Center(LC),Mid-Range,16-24 ft.,1610612737,Atlanta Hawks,DET,1.0
1,Jump Shot,Missed Shot,20151027,28,21500001,Shot Chart Detail,ATL,-6.5,22.15,8,...,0,2PT Field Goal,2,Left Side Center(LC),Mid-Range,16-24 ft.,1610612737,Atlanta Hawks,DET,1.0
2,Jump Shot,Missed Shot,20151027,34,21500001,Shot Chart Detail,ATL,-3.0,23.55,7,...,0,2PT Field Goal,2,Center(C),Mid-Range,16-24 ft.,1610612737,Atlanta Hawks,DET,1.0
3,Jump Shot,Made Shot,20151027,132,21500001,Shot Chart Detail,ATL,-1.9,28.95,10,...,1,3PT Field Goal,3,Center(C),Above the Break 3,24+ ft.,1610612737,Atlanta Hawks,DET,1.0
4,Driving Hook Shot,Made Shot,20151027,144,21500001,Shot Chart Detail,ATL,0.2,9.85,9,...,1,2PT Field Goal,2,Center(C),In The Paint (Non-RA),Less Than 8 ft.,1610612737,Atlanta Hawks,DET,1.0

In [22]:
for m in range(len(combineData)):
    if combineData.iloc[m]["player_id"] in homePlayer_id:
        combineData.set_value(m, 'homeTeam', 1)
    elif combineData.iloc[m]["player_id"] in visiterPlayer_id:
        combineData.set_value(m, 'homeTeam', 0)
    else:
        combineData.set_value(m, 'homeTeam', 9)

In [24]:
combineData.to_csv("E:/Baiduyun Download/chuichan/17 Spring/Scala/finalProject/PistonsVSHawks/combineData3-29.csv",sep=",")

In [25]:
home = d["events"][0]["home"]

In [26]:
home

{'abbreviation': 'ATL',
 'name': 'Atlanta Hawks',
 'players': [{'firstname': 'Kyle',
   'jersey': '26',
   'lastname': 'Korver',
   'playerid': 2594,
   'position': 'G'},
  {'firstname': 'Thabo',
   'jersey': '25',
   'lastname': 'Sefolosha',
   'playerid': 200757,
   'position': 'G-F'},
  {'firstname': 'Paul',
   'jersey': '4',
   'lastname': 'Millsap',
   'playerid': 200794,
   'position': 'F'},
  {'firstname': 'Al',
   'jersey': '15',
   'lastname': 'Horford',
   'playerid': 201143,
   'position': 'F-C'},
  {'firstname': 'Tiago',
   'jersey': '11',
   'lastname': 'Splitter',
   'playerid': 201168,
   'position': 'F-C'},
  {'firstname': 'Jeff',
   'jersey': '0',
   'lastname': 'Teague',
   'playerid': 201952,
   'position': 'G'},
  {'firstname': 'Shelvin',
   'jersey': '8',
   'lastname': 'Mack',
   'playerid': 202714,
   'position': 'G'},
  {'firstname': 'Mike',
   'jersey': '32',
   'lastname': 'Scott',
   'playerid': 203118,
   'position': 'F'},
  {'firstname': 'Kent',
   'jersey': '24',
   'lastname': 'Bazemore',
   'playerid': 203145,
   'position': 'G'},
  {'firstname': 'Justin',
   'jersey': '7',
   'lastname': 'Holiday',
   'playerid': 203200,
   'position': 'G'},
  {'firstname': 'Dennis',
   'jersey': '17',
   'lastname': 'Schroder',
   'playerid': 203471,
   'position': 'G'},
  {'firstname': 'Mike',
   'jersey': '31',
   'lastname': 'Muscala',
   'playerid': 203488,
   'position': 'F-C'},
  {'firstname': 'Lamar',
   'jersey': '13',
   'lastname': 'Patterson',
   'playerid': 203934,
   'position': 'G-F'}],
 'teamid': 1610612737}

In [27]:
visitor = d["events"][0]["visitor"]

In [29]:
d["events"][1]["moments"][1]

[1,
 1445991114060,
 717.37,
 21.36,
 None,
 [[-1, -1, 66.01261, 20.43085, 2.29823],
  [1610612737, 2594, 28.43447, 22.00489, 0.0],
  [1610612737, 200794, 46.95033, 24.04033, 0.0],
  [1610612737, 201143, 24.56331, 24.41702, 0.0],
  [1610612737, 201952, 33.40307, 25.11709, 0.0],
  [1610612737, 203145, 25.18495, 32.62304, 0.0],
  [1610612765, 101141, 48.68985, 29.58211, 0.0],
  [1610612765, 202704, 65.69977, 19.15132, 0.0],
  [1610612765, 202694, 29.32868, 30.40703, 0.0],
  [1610612765, 203484, 34.72768, 27.32228, 0.0],
  [1610612765, 203083, 33.50527, 25.43572, 0.0]]]

In [30]:
player_moments = []
for m in range(len(d["events"])):
    moments = d["events"][m]["moments"]
    for moment in moments:
        for player in moment[5]:
            player.extend((moments.index(moment), moment[0], moment[1], moment[2], moment[3]))
            player_moments.append(player)

In [31]:
player_moments[1]

[1610612737, 2594, 45.70423, 15.5787, 0.0, 0, 1, 1445991110020, 720.0, 24.0]

In [33]:
player_moments[2]

[1610612737, 200794, 56.87016, 22.95879, 0.0, 0, 1, 1445991110020, 720.0, 24.0]

In [32]:
player_moments[0]

[-1, -1, 47.25031, 26.14806, 6.76567, 0, 1, 1445991110020, 720.0, 24.0]

In [32]:
len(player_moments)

2451093

In [33]:
headers = ["team_id", "player_id", "x_loc", "y_loc", "radius", "moment", "period", "unix_time", "game_clock", "shot_clock"]

In [34]:
player_moments_df = pd.DataFrame(player_moments, columns=headers)

In [35]:
player_moments_df.head()

,team_id,player_id,x_loc,y_loc,radius,moment,period,unix_time,game_clock,shot_clock
0,-1,-1,47.25031,26.14806,6.76567,0,1,1445991110020,720.0,24.0
1,1610612737,2594,45.70423,15.57870,0.00000,0,1,1445991110020,720.0,24.0
2,1610612737,200794,56.87016,22.95879,0.00000,0,1,1445991110020,720.0,24.0
3,1610612737,201143,47.26914,24.47616,0.00000,0,1,1445991110020,720.0,24.0
4,1610612737,201952,28.26728,23.73400,0.00000,0,1,1445991110020,720.0,24.0

In [36]:
player_moments_df.tail()

,team_id,player_id,x_loc,y_loc,radius,moment,period,unix_time,game_clock,shot_clock
2451088,1610612765,101141,19.34044,13.18479,0.0,119,4,1445998917768,0.01,NaN
2451089,1610612765,202704,12.30729,21.98252,0.0,119,4,1445998917768,0.01,NaN
2451090,1610612765,202694,9.22396,4.06039,0.0,119,4,1445998917768,0.01,NaN
2451091,1610612765,203484,7.16108,15.60356,0.0,119,4,1445998917768,0.01,NaN
2451092,1610612765,203083,14.81918,19.75303,0.0,119,4,1445998917768,0.01,NaN

In [80]:
home

{'abbreviation': 'ATL',
 'name': 'Atlanta Hawks',
 'players': [{'firstname': 'Kyle',
   'jersey': '26',
   'lastname': 'Korver',
   'playerid': 2594,
   'position': 'G'},
  {'firstname': 'Thabo',
   'jersey': '25',
   'lastname': 'Sefolosha',
   'playerid': 200757,
   'position': 'G-F'},
  {'firstname': 'Paul',
   'jersey': '4',
   'lastname': 'Millsap',
   'playerid': 200794,
   'position': 'F'},
  {'firstname': 'Al',
   'jersey': '15',
   'lastname': 'Horford',
   'playerid': 201143,
   'position': 'F-C'},
  {'firstname': 'Tiago',
   'jersey': '11',
   'lastname': 'Splitter',
   'playerid': 201168,
   'position': 'F-C'},
  {'firstname': 'Jeff',
   'jersey': '0',
   'lastname': 'Teague',
   'playerid': 201952,
   'position': 'G'},
  {'firstname': 'Shelvin',
   'jersey': '8',
   'lastname': 'Mack',
   'playerid': 202714,
   'position': 'G'},
  {'firstname': 'Mike',
   'jersey': '32',
   'lastname': 'Scott',
   'playerid': 203118,
   'position': 'F'},
  {'firstname': 'Kent',
   'jersey': '24',
   'lastname': 'Bazemore',
   'playerid': 203145,
   'position': 'G'},
  {'firstname': 'Justin',
   'jersey': '7',
   'lastname': 'Holiday',
   'playerid': 203200,
   'position': 'G'},
  {'firstname': 'Dennis',
   'jersey': '17',
   'lastname': 'Schroder',
   'playerid': 203471,
   'position': 'G'},
  {'firstname': 'Mike',
   'jersey': '31',
   'lastname': 'Muscala',
   'playerid': 203488,
   'position': 'F-C'},
  {'firstname': 'Lamar',
   'jersey': '13',
   'lastname': 'Patterson',
   'playerid': 203934,
   'position': 'G-F'}],
 'teamid': 1610612737}

In [37]:
player_moments_df.iloc[1].team_id == home["teamid"]

True

In [38]:
player_moments_df.homeTeam=0

In [39]:
player_moments_df.set_value(0, 'homeTeam', 1)

,team_id,player_id,x_loc,y_loc,radius,moment,period,unix_time,game_clock,shot_clock,homeTeam
0,-1,-1,47.25031,26.14806,6.76567,0,1,1445991110020,720.00,24.0,1.0
1,1610612737,2594,45.70423,15.57870,0.00000,0,1,1445991110020,720.00,24.0,NaN
2,1610612737,200794,56.87016,22.95879,0.00000,0,1,1445991110020,720.00,24.0,NaN
3,1610612737,201143,47.26914,24.47616,0.00000,0,1,1445991110020,720.00,24.0,NaN
4,1610612737,201952,28.26728,23.73400,0.00000,0,1,1445991110020,720.00,24.0,NaN
5,1610612737,203145,40.59368,31.74141,0.00000,0,1,1445991110020,720.00,24.0,NaN
6,1610612765,101141,56.27694,25.51460,0.00000,0,1,1445991110020,720.00,24.0,NaN
7,1610612765,202704,73.64107,25.48774,0.00000,0,1,1445991110020,720.00,24.0,NaN
8,1610612765,202694,48.64923,35.26915,0.00000,0,1,1445991110020,720.00,24.0,NaN
9,1610612765,203484,48.46352,14.55436,0.00000,0,1,1445991110020,720.00,24.0,NaN
10,1610612765,203083,47.51449,24.36448,0.00000,0,1,1445991110020,720.00,24.0,NaN
11,-1,-1,47.16223,26.23652,6.86375,1,1,1445991110060,720.00,24.0,NaN
12,1610612737,2594,45.69864,15.59827,0.00000,1,1,1445991110060,720.00,24.0,NaN
13,1610612737,200794,56.85699,22.94288,0.00000,1,1,1445991110060,720.00,24.0,NaN
14,1610612737,201143,47.38016,24.35660,0.00000,1,1,1445991110060,720.00,24.0,NaN
15,1610612737,201952,28.35063,23.71423,0.00000,1,1,1445991110060,720.00,24.0,NaN
16,1610612737,203145,40.57886,31.73191,0.00000,1,1,1445991110060,720.00,24.0,NaN
17,1610612765,101141,56.26400,25.52289,0.00000,1,1,1445991110060,720.00,24.0,NaN
18,1610612765,202704,73.64283,25.48583,0.00000,1,1,1445991110060,720.00,24.0,NaN
19,1610612765,202694,48.63994,35.28079,0.00000,1,1,1445991110060,720.00,24.0,NaN
20,1610612765,203484,48.46453,14.54789,0.00000,1,1,1445991110060,720.00,24.0,NaN
21,1610612765,203083,47.48025,24.33370,0.00000,1,1,1445991110060,720.00,24.0,NaN
22,-1,-1,47.16051,26.18061,6.79804,2,1,1445991110101,720.00,24.0,NaN
23,1610612737,2594,45.69454,15.61503,0.00000,2,1,1445991110101,720.00,24.0,NaN
24,1610612737,200794,56.88806,22.94275,0.00000,2,1,1445991110101,720.00,24.0,NaN
25,1610612737,201143,47.44308,24.29835,0.00000,2,1,1445991110101,720.00,24.0,NaN
26,1610612737,201952,28.43244,23.69250,0.00000,2,1,1445991110101,720.00,24.0,NaN
27,1610612737,203145,40.56605,31.72561,0.00000,2,1,1445991110101,720.00,24.0,NaN
28,1610612765,101141,56.30188,25.52964,0.00000,2,1,1445991110101,720.00,24.0,NaN
29,1610612765,202704,73.64151,25.48083,0.00000,2,1,1445991110101,720.00,24.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2451063,1610612737,201143,55.46977,15.18398,0.00000,117,4,1445998917688,0.10,NaN,NaN
2451064,1610612737,201952,42.84890,25.06671,0.00000,117,4,1445998917688,0.10,NaN,NaN
2451065,1610612737,203934,47.87153,10.86248,0.00000,117,4,1445998917688,0.10,NaN,NaN
2451066,1610612765,101141,19.47258,13.50815,0.00000,117,4,1445998917688,0.10,NaN,NaN
2451067,1610612765,202704,12.34869,22.24225,0.00000,117,4,1445998917688,0.10,NaN,NaN
2451068,1610612765,202694,9.37646,4.28753,0.00000,117,4,1445998917688,0.10,NaN,NaN
2451069,1610612765,203484,7.04873,16.03640,0.00000,117,4,1445998917688,0.10,NaN,NaN
2451070,1610612765,203083,14.85579,19.98367,0.00000,117,4,1445998917688,0.10,NaN,NaN
2451071,-1,-1,29.29682,8.30476,4.92958,118,4,1445998917727,0.06,NaN,NaN
2451072,1610612737,2594,38.67261,32.50584,0.00000,118,4,1445998917727,0.06,NaN,NaN
2451073,1610612737,200794,58.68310,21.29389,0.00000,118,4,1445998917727,0.06,NaN,NaN
2451074,1610612737,201143,55.67451,15.12671,0.00000,118,4,1445998917727,0.06,NaN,NaN
2451075,1610612737,201952,43.01610,25.00619,0.00000,118,4,1445998917727,0.06,NaN,NaN
2451076,1610612737,203934,48.03395,10.80741,0.00000,118,4,1445998917727,0.06,NaN,NaN
2451077,1610612765,101141,19.40940,13.34757,0.00000,118,4,1445998917727,0.06,NaN,NaN
2451078,1610612765,202704,12.32494,22.11234,0.00000,118,4,1445998917727,0.06,NaN,NaN
2451079,1610612765,202694,9.31396,4.15568,0.00000,118,4,1445998917727,0.06,NaN,NaN
2451080,1610612765,203484,7.10480,15.82320,0.00000,118,4,1445998917727,0.06,NaN,NaN
2451081,1610612765,203083,14.83840,19.87414,0.00000,118,4,1445998917727,0.06,NaN,NaN
2451082,-1,-1,29.47729,8.05452,4.91489,119,4,1445998917768,0.01,NaN,NaN
2451083,1610612737,2594,38.85003,32.43738,0.00000,119,4,1445998917768,0.01,NaN,NaN
2451084,1610612737,200794,58.84397,21.21945,0.00000,119,4,1445998917768,0.01,NaN,NaN
2451085,1610612737,201143,55.88120,15.06903,0.00000,119,4,1445998917768,0.01,NaN,NaN
2451086,1610612737,201952,43.17905,24.93765,0.00000,119,4,1445998917768,0.01,NaN,NaN
2451087,1610612737,203934,48.20134,10.75615,0.00000,119,4,1445998917768,0.01,NaN,NaN
2451088,1610612765,101141,19.34044,13.18479,0.00000,119,4,1445998917768,0.01,NaN,NaN
2451089,1610612765,202704,12.30729,21.98252,0.00000,119,4,1445998917768,0.01,NaN,NaN
2451090,1610612765,202694,9.22396,4.06039,0.00000,119,4,1445998917768,0.01,NaN,NaN
2451091,1610612765,203484,7.16108,15.60356,0.00000,119,4,1445998917768,0.01,NaN,NaN
2451092,1610612765,203083,14.81918,19.75303,0.00000,119,4,1445998917768,0.01,NaN,NaN

In [40]:
player_moments_df.head()

,team_id,player_id,x_loc,y_loc,radius,moment,period,unix_time,game_clock,shot_clock,homeTeam
0,-1,-1,47.25031,26.14806,6.76567,0,1,1445991110020,720.0,24.0,1.0
1,1610612737,2594,45.70423,15.57870,0.00000,0,1,1445991110020,720.0,24.0,NaN
2,1610612737,200794,56.87016,22.95879,0.00000,0,1,1445991110020,720.0,24.0,NaN
3,1610612737,201143,47.26914,24.47616,0.00000,0,1,1445991110020,720.0,24.0,NaN
4,1610612737,201952,28.26728,23.73400,0.00000,0,1,1445991110020,720.0,24.0,NaN

In [41]:
home_teamid = home["teamid"]

In [42]:
visitor_teamid = visitor["teamid"]

In [43]:
for m in range(len(player_moments_df)):
    if player_moments_df.ix[m,"team_id"] == home_teamid:
        player_moments_df.set_value(m, 'homeTeam', 1)
    elif player_moments_df.ix[m,"team_id"] == visitor_teamid:
        player_moments_df.set_value(m, 'homeTeam', 0)
    else:
        player_moments_df.set_value(m, 'homeTeam', 9)

In [58]:
player_moments_df.head(20)

,team_id,player_id,x_loc,y_loc,radius,moment,period,unix_time,game_clock,shot_clock,homeTeam
0,-1,-1,47.25031,26.14806,6.76567,0,1,1445991110020,720.0,24.0,9.0
1,1610612737,2594,45.70423,15.57870,0.00000,0,1,1445991110020,720.0,24.0,1.0
2,1610612737,200794,56.87016,22.95879,0.00000,0,1,1445991110020,720.0,24.0,1.0
3,1610612737,201143,47.26914,24.47616,0.00000,0,1,1445991110020,720.0,24.0,1.0
4,1610612737,201952,28.26728,23.73400,0.00000,0,1,1445991110020,720.0,24.0,1.0
5,1610612737,203145,40.59368,31.74141,0.00000,0,1,1445991110020,720.0,24.0,1.0
6,1610612765,101141,56.27694,25.51460,0.00000,0,1,1445991110020,720.0,24.0,0.0
7,1610612765,202704,73.64107,25.48774,0.00000,0,1,1445991110020,720.0,24.0,0.0
8,1610612765,202694,48.64923,35.26915,0.00000,0,1,1445991110020,720.0,24.0,0.0
9,1610612765,203484,48.46352,14.55436,0.00000,0,1,1445991110020,720.0,24.0,0.0
10,1610612765,203083,47.51449,24.36448,0.00000,0,1,1445991110020,720.0,24.0,0.0
11,-1,-1,47.16223,26.23652,6.86375,1,1,1445991110060,720.0,24.0,9.0
12,1610612737,2594,45.69864,15.59827,0.00000,1,1,1445991110060,720.0,24.0,1.0
13,1610612737,200794,56.85699,22.94288,0.00000,1,1,1445991110060,720.0,24.0,1.0
14,1610612737,201143,47.38016,24.35660,0.00000,1,1,1445991110060,720.0,24.0,1.0
15,1610612737,201952,28.35063,23.71423,0.00000,1,1,1445991110060,720.0,24.0,1.0
16,1610612737,203145,40.57886,31.73191,0.00000,1,1,1445991110060,720.0,24.0,1.0
17,1610612765,101141,56.26400,25.52289,0.00000,1,1,1445991110060,720.0,24.0,0.0
18,1610612765,202704,73.64283,25.48583,0.00000,1,1,1445991110060,720.0,24.0,0.0
19,1610612765,202694,48.63994,35.28079,0.00000,1,1,1445991110060,720.0,24.0,0.0

In [59]:
player_moments_df.to_csv("E:/Baiduyun Download/chuichan/17 Spring/Scala/finalProject/PistonsVSHawks/rawData3-29.csv",sep=",")

In [73]:
test = player_moments_df.loc[player_moments_df['period'] == 1]

In [116]:
len(test)

557322

In [75]:
test.period.unique()

array([1], dtype=int64)

In [76]:
period = combineData.iloc[1]["period"]
minutes_remaining = combineData.iloc[1]["minutes_remaining"]
seconds_remaining = combineData.iloc[1]["seconds_remaining"]
game_clock = 60*minutes_remaining + seconds_remaining -2

In [57]:
game_clock

530

In [59]:
combineData.iloc[1]["minutes_remaining"]

8

In [60]:
combineData.iloc[1]["seconds_remaining"]

50

In [79]:
test1 = test.ix[(test.game_clock-game_clock).abs().argsort()[:1]]
test1

,team_id,player_id,x_loc,y_loc,radius,moment,period,unix_time,game_clock,shot_clock
125384,1610612737,201143,59.24165,15.8552,0.0,20,1,1445991386810,530.01,23.08

In [72]:
test.player_id.unique()

array([ nan])

In [62]:
len(combineData)

178

In [63]:
import math

In [64]:
combineData.index = range(0,len(combineData))
player_moments_df.index = range(0,len(player_moments_df))

In [70]:
combineData.iloc[10]["period"]

4

In [94]:
for m in range(len(combineData)):
    period = combineData.iloc[m]["period"]
    minutes_remaining = combineData.iloc[m]["minutes_remaining"]
    seconds_remaining = combineData.iloc[m]["seconds_remaining"]
    game_clock = 60*minutes_remaining + seconds_remaining
    
    
    playersMovement = player_moments_df.loc[player_moments_df['period'] == period]
    playersMovement.index = range(0,len(playersMovement))
    playersMovement = playersMovement.loc[playersMovement['homeTeam'] == (1 - combineData.iloc[m]["homeTeam"])]
    playersMovement.index = range(0,len(playersMovement))
    
    try:    
        closest_game_clock = playersMovement.ix[(playersMovement.game_clock-game_clock).abs().argsort()][:1]
        #closest_game_clock.index = range(0,len(game_clock))
        closest_game_clock = closest_game_clock.iloc[0]['game_clock']
        playersMovement = playersMovement.loc[playersMovement['game_clock'] == closest_game_clock]
        playersMovement.index = range(0,len(playersMovement))
    
    
        shotPlayer = player_moments_df.loc[player_moments_df['player_id'] == combineData.iloc[m]["player_id"]]
        shotPlayer.index = range(0,len(shotPlayer))
        shotPlayer = shotPlayer.loc[shotPlayer['period'] == period]
        shotPlayer.index = range(0,len(shotPlayer))
        shotPlayer = shotPlayer.loc[shotPlayer['game_clock'] == closest_game_clock][:1]
        #shotPlayer.index = range(0,len(shotPlayer))
        shotPlayer_loc_x = shotPlayer.iloc[0]["x_loc"]
        shotPlayer_loc_y = shotPlayer.iloc[0]["y_loc"]

        for n in range(len(playersMovement)):
            defender_loc_x = playersMovement.iloc[n]["x_loc"]
            defender_loc_y = playersMovement.iloc[n]["y_loc"]
            distance = math.sqrt((shotPlayer_loc_x-defender_loc_x)**2 + (shotPlayer_loc_y-defender_loc_y)**2)
            playersMovement.set_value(n, 'distance', distance)
        
        minimum_distance = np.nanmin(playersMovement.distance.values)

        defender_information = playersMovement.loc[playersMovement['distance'] == minimum_distance][:1]
        #defender_information.index = range(0,len(defender_information))
        
        combineData.set_value(m, 'defender_id', defender_information.iloc[0]['player_id'])
        for x in range(len(home["players"])):
            if defender_information.iloc[0]['player_id'] == home["players"][x]['playerid']:
                defender_name = home["players"][x]['firstname'] + " " + home["players"][x]['lastname']
                combineData.set_value(m, 'defender_name', defender_name)
        for y in range(len(visitor["players"])):
            if defender_information.iloc[0]['player_id'] == visitor["players"][y]['playerid']:
                defender_name = visitor["players"][y]['firstname'] + " " + visitor["players"][y]['lastname']
                combineData.set_value(m, 'defender_name', defender_name)
            
        combineData.set_value(m, 'defender_x_loc', defender_information.iloc[0]['x_loc'])
        combineData.set_value(m, 'defender_y_loc', defender_information.iloc[0]['y_loc'])
        combineData.set_value(m, 'defender_distance', minimum_distance)
        combineData.set_value(m, 'loc_x', shotPlayer_loc_x)
        combineData.set_value(m, 'loc_y', shotPlayer_loc_y)
    except:
        continue
combineData.tail()
#defender_information

,action_type,event_type,game_date,game_event_id,game_id,grid_type,htm,loc_x,loc_y,minutes_remaining,...,shot_zone_range,team_id,team_name,vtm,homeTeam,defender_id,defender_x_loc,defender_y_loc,defender_distance,defender_name
173,Putback Layup Shot,Made Shot,20151027,62,21500001,Shot Chart Detail,ATL,63.59760,26.45791,5,...,Less Than 8 ft.,1610612737,Atlanta Hawks,DET,1.0,203083.0,72.50641,19.33365,11.407102,Andre Drummond
174,Driving Finger Roll Layup Shot,Missed Shot,20151027,74,21500001,Shot Chart Detail,ATL,87.72741,14.09018,4,...,Less Than 8 ft.,1610612737,Atlanta Hawks,DET,1.0,1626169.0,90.37194,21.87119,8.218130,Stanley Johnson
175,Putback Layup Shot,Missed Shot,20151027,201,21500001,Shot Chart Detail,ATL,69.92224,18.06023,4,...,Less Than 8 ft.,1610612737,Atlanta Hawks,DET,1.0,203083.0,58.50187,22.10396,12.115139,Andre Drummond
176,Driving Layup Shot,Missed Shot,20151027,212,21500001,Shot Chart Detail,ATL,81.92158,17.62633,3,...,Less Than 8 ft.,1610612737,Atlanta Hawks,DET,1.0,202704.0,80.58058,24.82795,7.325409,Reggie Jackson
177,Dunk Shot,Made Shot,20151027,317,21500001,Shot Chart Detail,ATL,12.05972,26.94091,4,...,Less Than 8 ft.,1610612737,Atlanta Hawks,DET,1.0,202704.0,10.35053,30.16792,3.651702,Reggie Jackson

In [93]:
combineData.head(20)

,action_type,event_type,game_date,game_event_id,game_id,grid_type,htm,loc_x,loc_y,minutes_remaining,...,shot_zone_range,team_id,team_name,vtm,homeTeam,defender_id,defender_x_loc,defender_y_loc,defender_distance,defender_name
0,Jump Shot,Missed Shot,20151027,8,21500001,Shot Chart Detail,ATL,59.16572,9.30053,10,...,16-24 ft.,1610612737,Atlanta Hawks,DET,1.0,203083.0,61.62787,11.71290,3.446986,NaN
1,Jump Shot,Missed Shot,20151027,28,21500001,Shot Chart Detail,ATL,59.24165,15.85520,8,...,16-24 ft.,1610612737,Atlanta Hawks,DET,1.0,203083.0,54.40922,15.07442,4.895099,NaN
2,Jump Shot,Missed Shot,20151027,34,21500001,Shot Chart Detail,ATL,60.60044,21.01721,7,...,16-24 ft.,1610612737,Atlanta Hawks,DET,1.0,203083.0,54.80080,24.91175,6.985933,NaN
3,Jump Shot,Made Shot,20151027,132,21500001,Shot Chart Detail,ATL,56.75876,18.69541,10,...,24+ ft.,1610612737,Atlanta Hawks,DET,1.0,101141.0,58.93054,21.86082,3.838808,NaN
4,Driving Hook Shot,Made Shot,20151027,144,21500001,Shot Chart Detail,ATL,65.48311,28.70843,9,...,Less Than 8 ft.,1610612737,Atlanta Hawks,DET,1.0,201975.0,68.36567,42.14882,13.746026,NaN
5,Jump Shot,Made Shot,20151027,228,21500001,Shot Chart Detail,ATL,77.79197,42.69863,1,...,8-16 ft.,1610612737,Atlanta Hawks,DET,1.0,203083.0,86.76845,35.08573,11.770023,NaN
6,Driving Layup Shot,Made Shot,20151027,277,21500001,Shot Chart Detail,ATL,19.61918,25.29883,8,...,Less Than 8 ft.,1610612737,Atlanta Hawks,DET,1.0,203083.0,19.42335,24.03732,1.276619,NaN
7,Jump Shot,Missed Shot,20151027,343,21500001,Shot Chart Detail,ATL,36.42120,25.70998,1,...,24+ ft.,1610612737,Atlanta Hawks,DET,1.0,203083.0,41.55587,21.70649,6.510973,NaN
8,Layup Shot,Made Shot,20151027,357,21500001,Shot Chart Detail,ATL,56.69428,20.49213,0,...,Less Than 8 ft.,1610612737,Atlanta Hawks,DET,1.0,2581.0,30.03225,8.83843,29.097639,NaN
9,Jump Shot,Made Shot,20151027,389,21500001,Shot Chart Detail,ATL,36.01871,11.40528,9,...,16-24 ft.,1610612737,Atlanta Hawks,DET,1.0,203382.0,32.68237,14.16828,4.331897,NaN
10,Jump Shot,Missed Shot,20151027,545,21500001,Shot Chart Detail,ATL,31.21297,18.15369,0,...,24+ ft.,1610612737,Atlanta Hawks,DET,1.0,202694.0,11.49355,15.59342,19.884932,NaN
11,Driving Layup Shot,Missed Shot,20151027,2,21500001,Shot Chart Detail,ATL,17.09118,19.33460,11,...,Less Than 8 ft.,1610612765,Detroit Pistons,DET,0.0,201143.0,21.08437,23.50222,5.771882,Al Horford
12,Turnaround Hook Shot,Missed Shot,20151027,10,21500001,Shot Chart Detail,ATL,9.83156,31.08391,10,...,8-16 ft.,1610612765,Detroit Pistons,DET,0.0,201143.0,8.25929,28.95827,2.643932,Al Horford
13,Hook Shot,Missed Shot,20151027,30,21500001,Shot Chart Detail,ATL,25.09940,27.54541,8,...,Less Than 8 ft.,1610612765,Detroit Pistons,DET,0.0,201143.0,16.14350,24.96124,9.321270,Al Horford
14,Dunk Shot,Made Shot,20151027,33,21500001,Shot Chart Detail,ATL,8.74529,27.86980,8,...,Less Than 8 ft.,1610612765,Detroit Pistons,DET,0.0,201143.0,2.55072,22.82009,7.992013,Al Horford
15,Alley Oop Layup shot,Made Shot,20151027,86,21500001,Shot Chart Detail,ATL,23.45732,16.91024,3,...,Less Than 8 ft.,1610612765,Detroit Pistons,DET,0.0,203471.0,16.43090,22.24858,8.824310,Dennis Schroder
16,Floating Jump shot,Missed Shot,20151027,209,21500001,Shot Chart Detail,ATL,74.78949,19.22784,3,...,Less Than 8 ft.,1610612765,Detroit Pistons,DET,0.0,201168.0,72.73877,17.90474,2.440501,Tiago Splitter
17,Putback Layup Shot,Made Shot,20151027,211,21500001,Shot Chart Detail,ATL,83.58995,20.61726,3,...,Less Than 8 ft.,1610612765,Detroit Pistons,DET,0.0,201168.0,86.03700,20.40568,2.456180,Tiago Splitter
18,Hook Shot,Missed Shot,20151027,246,21500001,Shot Chart Detail,ATL,72.69927,26.31294,11,...,Less Than 8 ft.,1610612765,Detroit Pistons,DET,0.0,203145.0,81.64887,18.89607,11.623481,Kent Bazemore
19,Turnaround Hook Shot,Missed Shot,20151027,262,21500001,Shot Chart Detail,ATL,80.57753,12.74235,9,...,8-16 ft.,1610612765,Detroit Pistons,DET,0.0,201143.0,82.43428,18.14196,5.709931,Al Horford

In [220]:
shotPlayer_loc_x

59.16572

In [95]:
combineData.to_csv("E:/Baiduyun Download/chuichan/17 Spring/Scala/finalProject/PistonsVSHawks/finalData3-29.csv",sep=",")

In [90]:
home["players"][1]['firstname'] + " " + home["players"][1]['lastname']

'Thabo Sefolosha'

In [87]:
visitor["players"]

[{'firstname': 'Steve',
  'jersey': '22',
  'lastname': 'Blake',
  'playerid': 2581,
  'position': 'G'},
 {'firstname': 'Ersan',
  'jersey': '23',
  'lastname': 'Ilyasova',
  'playerid': 101141,
  'position': 'F'},
 {'firstname': 'Joel',
  'jersey': '50',
  'lastname': 'Anthony',
  'playerid': 201202,
  'position': 'C'},
 {'firstname': 'Jodie',
  'jersey': '20',
  'lastname': 'Meeks',
  'playerid': 201975,
  'position': 'G'},
 {'firstname': 'Marcus',
  'jersey': '13',
  'lastname': 'Morris',
  'playerid': 202694,
  'position': 'F'},
 {'firstname': 'Reggie',
  'jersey': '1',
  'lastname': 'Jackson',
  'playerid': 202704,
  'position': 'G'},
 {'firstname': 'Andre',
  'jersey': '0',
  'lastname': 'Drummond',
  'playerid': 203083,
  'position': 'C'},
 {'firstname': 'Aron',
  'jersey': '12',
  'lastname': 'Baynes',
  'playerid': 203382,
  'position': 'F-C'},
 {'firstname': 'Kentavious',
  'jersey': '5',
  'lastname': 'Caldwell-Pope',
  'playerid': 203484,
  'position': 'G'},
 {'firstname': 'Reggie',
  'jersey': '25',
  'lastname': 'Bullock',
  'playerid': 203493,
  'position': 'F'},
 {'firstname': 'Spencer',
  'jersey': '8',
  'lastname': 'Dinwiddie',
  'playerid': 203915,
  'position': 'G'},
 {'firstname': 'Stanley',
  'jersey': '3',
  'lastname': 'Johnson',
  'playerid': 1626169,
  'position': 'F'},
 {'firstname': 'Darrun',
  'jersey': '6',
  'lastname': 'Hilliard',
  'playerid': 1626199,
  'position': 'F'}]

In [221]:
shotPlayer_loc_y

9.3005300000000002

In [200]:
period = combineData.ix[1,"period"]
minutes_remaining = combineData.ix[1,"minutes_remaining"]
seconds_remaining = combineData.ix[1,"seconds_remaining"]
game_clock = 60*minutes_remaining + seconds_remaining - 2
    
shotPlayer = player_moments_df.loc[player_moments_df['player_id'] == combineData.ix[1,"player_id"]]
shotPlayer = shotPlayer.loc[shotPlayer['period'] == period]
#
temp = player_moments_df.loc[player_moments_df['period'] == period]
temp = temp.loc[player_moments_df['homeTeam'] == (1 - combineData.ix[m,"homeTeam"])]
temp.index = range(0,len(temp))
game_clock = temp.ix[(temp.game_clock-game_clock).abs().argsort()[:1]].iloc[0]['game_clock']
shotPlayer = shotPlayer.loc[shotPlayer['game_clock'] == game_clock][:2]
shotPlayer

,team_id,player_id,x_loc,y_loc,radius,moment,period,unix_time,game_clock,shot_clock,homeTeam
116584,1610612737,201143,26.48903,24.06382,0.0,245,1,1445991388810,528.01,21.17,1
120159,1610612737,201143,26.48903,24.06382,0.0,245,1,1445991388810,528.01,21.17,1

In [177]:
print(5^2)

7

In [153]:
shotPlayer = player_moments_df.loc[player_moments_df['period'] == 1]

Empty DataFrame
Columns: [team_id, player_id, x_loc, y_loc, radius, moment, period, unix_time, game_clock, shot_clock, homeTeam]
Index: []

In [174]:
temp = player_moments_df.loc[player_moments_df['period'] == 1]
temp = temp.loc[player_moments_df['homeTeam'] == (1 - combineData.ix[0,"homeTeam"])]
game_clock = 50
temp.index = range(0,len(temp))
temp1 = temp.ix[(temp.game_clock-game_clock).abs().argsort()[:10]]
temp = temp.loc[temp['game_clock'] == temp1.iloc[0]['game_clock']][:1]
temp

,team_id,player_id,x_loc,y_loc,radius,moment,period,unix_time,game_clock,shot_clock,homeTeam
235210,1610612765,2581,23.38878,45.96973,0.0,490,1,1445992359614,50.02,8.4,0